<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Check if server.js exists, then use iisnode for Next.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <rewrite>
      <rules>
        <!-- Node.js debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Serve Next.js static files (_next folder) -->
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>
        
        <!-- Serve Next.js public folder files -->
        <rule name="NextPublicFiles" stopProcessing="true">
          <match url="^public/(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        
        <!-- All other requests go to Next.js server -->
        <rule name="NextJSServer">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <authorization>
      <add accessType="Allow" users="*" />
    </authorization>
    <httpErrors existingResponse="PassThrough" />
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;iisnode.yml"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      debugHeaderEnabled="true"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="1024"
      maxTotalLogFileSizeInKB="4096"
      maxLogFiles="50"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
      />
  </system.webServer>
</configuration>
